appdirs==1.4.3
asgiref==3.2.3
certifi==2022.12.7
chardet==3.0.4
distlib==0.3.0
Django==3.1.14
django-dynamic-path==0.0.4
django-early-return==0.0.0
django-referer-csrf==0.0.0
docutils==0.16
filelock==3.0.12
idna==2.9
importlib-metadata==1.5.0
importlib-resources==1.2.0
keyring==21.1.0
packaging==20.1
pkginfo==1.5.0.1
pluggy==0.13.1
py==1.8.1
Pygments==2.15.0
pyparsing==2.4.6
pytz==2019.3
readme-renderer==24.0
requests==2.31.0
requests-toolbelt==0.9.1
six==1.14.0
sqlparse==0.4.4
toml==0.10.0
tox==3.14.5
tqdm==4.43.0
twine==3.1.1
urllib3==1.25.8
virtualenv==20.0.8
webencodings==0.5.1
zipp==3.1.0
setuptools
wheel
-e .
