appdirs==1.4.3
asgiref==3.2.3
bleach==3.1.2
certifi==2019.11.28
chardet==3.0.4
distlib==0.3.0
Django==3.0.4
-e git+ssh://localhost:/Users/alex/projects/pip_packages/django_dynamic_path@6c0a7425be9eef66b6cb9caf48b55e58aa7e65f1#egg=django_dynamic_path
-e git+ssh://localhost:/Users/alex/projects/pip_packages/django_referer_csrf@e94fef25db9c8c0dcbf17792563adb30f1040447#egg=django_referer_csrf
docutils==0.16
filelock==3.0.12
idna==2.9
importlib-metadata==1.5.0
importlib-resources==1.2.0
keyring==21.1.0
packaging==20.1
pkginfo==1.5.0.1
pluggy==0.13.1
py==1.8.1
Pygments==2.5.2
pyparsing==2.4.6
pytz==2019.3
readme-renderer==24.0
requests==2.23.0
requests-toolbelt==0.9.1
six==1.14.0
sqlparse==0.3.1
toml==0.10.0
tox==3.14.5
tqdm==4.43.0
twine==3.1.1
urllib3==1.25.8
virtualenv==20.0.8
webencodings==0.5.1
zipp==3.1.0
